VITE_API_BASE_URL=http://localhost:5000/api
VITE_GOOGLE_MAPS_API_KEY=AIzaSyChwz-ZsFy_LlYnTePTj0eeelNUCYowtbk
VITE_FIREBASE_API_KEY=AIzaSyCeawdSSUaNGC_6WqJuTvBCpH6TV8MFhaw",
VITE_FIREBASE_AUTH_DOMAIN="idp-project-c931e.firebaseapp.com",
VITE_FIREBASE_PROJECT_ID="idp-project-c931e",
VITE_FIREBASE_STORAGE_BUCKET="idp-project-c931e.firebasestorage.app",
VITE_FIREBASE_MESSAGING_SENDER_ID="669240088688",
VITE_FIREBASE_APP_ID="1:669240088688:web:30cca798993487fa28bcb5",

